.imgLogo {
    width: 98px;
    height: 42px;
    padding-left: 671px;
    padding-top: 150px
}
.registrationLink{
  padding-left: 580px;
  padding-top: 35px;
  margin: auto;
  display: block
}

.inputLink{
  padding-left: 630px;
  padding-top: 25px;
  margin: auto;
  display: block
}

.inp{
  padding-left: 10px;
  padding-bottom: 100px
}

.reg{
  padding-left: 10px;
  padding-bottom: 100px
}