form{
  display: table-caption;
  padding-left: 550px;
  padding-top: 50px;
  margin:  auto
}
.error {
  color: red
}

input {
  margin: auto;
  left: 550px;
  width: 375px;
  height: 60px;
  border: none;
  border-bottom: 1px solid rgba(60, 60, 67, 0.3);
  text-align: center;
  font-family: SF Pro Text, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: rgba(60, 60, 67, 0.3)
}

input[type='text'] {
  color: black
}

input[type='password'] {
  color: black
}
input.error {
  color: red
}
input.error {
  color: red
}




