button
  width: 149px
  height: 50px
  margin-top: 25px
  margin-left: 110px
  border-radius: 25px
  font-family: SF Pro Text, serif
  font-style: normal
  font-weight: 600
  font-size: 17px
  line-height: 22px
  text-align: center
  display: flex
  justify-content: center
  padding: 14px 50px
  box-sizing: border-box
  cursor: pointer
  background: white

