.App-logo{
    width: 292px;
    height: 126px;
    display: flex;
    margin: 0 auto;
    padding-top: 230px;
}

.agona{
    width: 112px;
    height: 51px;
    display: flex;
    margin: 0 auto;
    padding-top: 200px;
}