.switch {
    margin: 0 auto;
}

.button-area {
    width: 343px;
    height: 32px;
    margin: 0 auto;
    position: relative;
}

.button-area .main-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e4e4e4;
    border-radius: 9px;
}

.button-area .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}

.button-area .text:after {
    position: absolute;
    content: "Буду смотреть";
    top: 1.5px;
    left: 3px;
    width: 165px;
    height: 28px;
    background: white;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 35px;
    border-radius: 7px;
    transition: 0.4s;
    right: 8px;
}

.button-area .textBack:after {
    content: "Просмотрено";
    width: 140px;
    height: 0;
    float: right;
    color: black;
    font-weight: 600;
    display: flex;
    text-align: center;
    padding-top: 5px;
}

.button-area .textBack:before {
    content: "Буду смотреть";
    padding-left: 27px;
    width: 140px;
    height: 0;
    float: left;
    color: black;
    font-weight: 600;
    display: flex;
    text-align: center;
    padding-top: 5px;
}

.button-area .checkbox:checked + .text:after {
    content: "Просмотрено";
    left: 175px;
    background: white;
}