.whole-film {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
}

.info-film {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 40px;
}

.whole-film-img {
    width: 250px;
    height: 417px;
}

.info-film h1{
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.17px;
    color: #181818;
    margin-bottom: 20px;
}

.info-film-year{
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #181818;
}

.info-film-rating{
    background: #FFFFFF;
    border: 2px solid #002DFF;
    box-sizing: border-box;
    border-radius: 14px;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;
    color: #002DFF;
    width: 36px;
    height: 23px;
    padding: 5px 7px;
    margin-left: 8px;
}

.year-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.will-watch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #002DFF;
    box-sizing: border-box;
    border-radius: 22px;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.336px;
    color: #002DFF;
    width: 188px;
    height: 38px;
    margin-top: 22px;
    margin-bottom: 18px;
    cursor: pointer;
}

.info-film-desc{
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #181818;
}

.genres{
    display: flex;
    flex-direction: row;
    width: 280px;
    justify-content: space-between;
}

.genres p{
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;
    color: #000000;
    padding: 6px 8px;
}