.filmImg{
    width: 102px;
    height: 160px;
    position: relative;
}

.filmRating{
    width: 24px;
    height: 15px;
    position: absolute;
    z-index: 1;
    border-radius: 14px;
    background: #FFFFFF;
    border: 2px solid #002DFF;
    box-sizing: border-box;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-left: 75px;
    margin-top: 7px;
    color: #002DFF;
    text-align: center;
    padding-top: 1px;
}

.filmTitle{
    max-width: 102px;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
    z-index: 1;
    margin-top: 13px;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

