.header {
    background: rgba(249, 249, 249, 0.94);
}

.headerCont {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1380px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.collection-round {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collection-round .collection.active {
    background: #002DFF;
    border-radius: 21px;
    padding: 8px 10px;
    color: white;
}

.collection-round .collection {
    color: black;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collection-round .collectionText {
    padding-left: 11px;
    margin: 0 auto;
}

.collection-round .collection img {
    margin: 0 auto;
    background: #002DFF;
    border-radius: 50%;
}

.header img {
    margin: 0 auto;
    cursor: pointer;
}

.add-with-plus {
    display: flex;
    flex-direction: row;
    padding-left: 26px;
    align-items: center;
}

.add-with-plus .plus {
    width: 21px;
    height: 21px;
}

.add-with-plus .add {
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-left: 12px;
    cursor: pointer;
}

.left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .short-logo {
    width: 47px;
    height: 18px;
    margin-right: 120px;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
}

.loupe {
    width: 21px;
    height: 21px;
}

.search {
    padding-left: 11px;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}

.profile {
    width: 40px;
    height: 40px;
    padding-left: 31px;
}

.main-container{
    max-width: 510px;
    width: 100%;
    margin: 0 auto;
}


ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.drop-down > li {
    float: left;
    position: relative;
}
ul.drop-down > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
}

ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.drop-down > li:hover > ul.submenu {
    display: block;
}