.film {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filmCollection {
    margin-top: 42px;
}

.collectionTitle {
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 35px;
}

.switch-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switch-menu img{
    cursor: pointer;
}